<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ data.title.title_mime }}</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=cyrillic" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
{% block content %}{% endblock %}
<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>{{ data.title.title_footer  | nl2br }}</p>
            </div>
        </div>
    </div>
</footer>

{% if data.form.modal is not empty %}
    {% include 'front/widget/modal.twig' with {'data': data.form, 'city': city} only %}
{% endif %}

<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>

{{ data.title.metrika | raw }}
</body>
</html>
