{% extends "admin.layouts.app" %}

{% block title %}Телефоны{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-7 col-md-12">
            <h1>Телефоны (Всего: {{ list.total }})</h1>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Сайт</th>
                    <th>Город</th>
                    <th>Ip</th>
                    <th>Имя</th>
                    <th>Номер</th>
                    <th>Сообщение</th>
                </tr>
                </thead>
                <tbody>
                {% for item in list %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.site }}</td>
                        <td>{{ item.city }}</td>
                        <td>{{ item.ip }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.phone }}</td>
                        <td>{% if item.message is not empty %}{{ item.message }}{% else %}<span class="text-muted">[ нет сообщения ]</span>{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {{ list.render() | raw }}
        </div>
    </div>
{% endblock %}
