{% extends "admin.layouts.app" %}

{% block title %}Создать новое "Преимущество"{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-5 col-md-7">
            <h1>Создать новое "Преимущество"</h1>

            <form method="post" action="{{ route('admin_benefits_insert') }}">
                {{ csrf_field() }}
                <div class="form-group">
                    <label>Заголовок</label>
                    <textarea class="form-control" rows="7" name="title" required></textarea>
                </div>

                <div class="form-group">
                    <label>Описание</label>
                    <textarea class="form-control" rows="7" name="description" required></textarea>
                </div>

                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Создать</button>
            </form>
        </div>
    </div>
{% endblock %}
