{% extends "admin.layouts.app" %}

{% block title %}Видео{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-6 col-md-10">
            <h1>Видео</h1>
        </div>

        <div class="col-lg-1 col-md-2">
            <p style="padding-top: 24px">
                <a href="{{ route('admin_video_add') }}" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>  Добавить</a>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-7 col-md-12">
            {% if  list.count() > 0 %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Название</th>
                    <th>Описание</th>
                    <th>Адрес (url)</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for item in list %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.title }}</td>
                        <td>{{ item.description }}</td>
                        <td>{{ item.url }}</td>
                        <td class="text-right text-nowrap">
                            {% if item.visible > 0 %}
                                <a href="{{ route('admin_video_hide', {'id': item.id}) }}" class="btn btn-link"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                            {% else %}
                                <a href="{{ route('admin_video_show', {'id': item.id}) }}" class="btn btn-link"><span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span></a>
                            {% endif %}
                            <a href="{{ route('admin_video_edit', {'id': item.id}) }}" class="btn btn-link"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {{ list.render() | raw }}
                {% else %}
                    <div class="alert alert-info" role="alert">Нет добавленных видео</div>
                {% endif %}
        </div>
    </div>
{% endblock %}
