{% extends "admin.layouts.app" %}

{% block title %}Создать новое "Преимущество"{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-5 col-md-7">
            <h1>Создать новое "Преимущество"</h1>
            <form method="post" action="{{ route('admin_reviews_insert') }}">
                {{ csrf_field() }}
                <div class="form-group">
                    <label>Имя</label>
                    <input type="text" name="name" value="" class="form-control" required>
                </div>
                <div class="form-group">
                    <label>Отзыв</label>
                    <textarea class="form-control" rows="7" name="content" required></textarea>
                </div>
                <div class="form-group">
                    <label>Адрес (url)</label>
                    <input type="text" name="url" value="" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Создать</button>
            </form>
        </div>
    </div>
{% endblock %}
