{% extends "admin.layouts.app" %}

{% block title %}Проекты{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-7 col-md-12">
            <h1>Проекты</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-7 col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Адрес (url)</th>
                    <th>Коментарий</th>
                    <th></th>
                </tr>

                <form method="post" action="{{ route('admin_sites_insert') }}">
                    {{ csrf_field() }}
                    <tr>
                        <td>-</td>
                        <th><input type="text" name="name" class="form-control" value="" required></th>
                        <th><input type="text" name="comment" class="form-control" value="" required></th>
                        <th><button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></th>
                    </tr>
                </form>
                </thead>
                <tbody>
                {% for item in list %}
                        <form method="post" action="{{ route('admin_sites_update') }}">
                            {{ csrf_field() }}
                            <input type="hidden" name="id" value="{{ item.id }}">
                            <tr>
                                <td>{{ item.id }}</td>
                                <td>
                                    <input type="text" name="name" class="form-control" value="{{ item.name }}" required>
                                    <p><a href="http://{{ item.name }}/admin" target="_blank">http://{{ item.name }}/admin</a></p>
                                </td>
                                <td><input type="text" name="comment" class="form-control" value="{{ item.comment }}" required></td>
                                <td class="text-left text-nowrap">
                                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span></button>
                                </td>
                            </tr>
                        </form>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
