{% extends "admin.layouts.app" %}

{% block title %}Список товаров{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-6 col-md-10">
            <h1>Список товаров</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-7 col-md-12">
            {% if  list.count() > 0 %}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Тип</th>
                        <th>Приоритет</th>
                        <th>Параметр</th>
                        <th>Значение</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in list %}
                        <tr>
                            <td>{{ item.id }}</td>
                            <td>
                                {% if item.isLabel() %}
                                <span class="label label-primary">надпись</span>
                                {% elseif item.isButton() %}
                                <span class="label label-success">кнопка</span>
                                {% else %}
                                <span class="label label-default">не известно</span>
                                {% endif %}
                            </td>

                            <td>{{ item.priority }} </td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.label }}</td>
                            <td class="text-right text-nowrap">
                                {% if item.visible > 0 %}
                                    <a href="{{ route('admin_label_hide', {'id': item.id}) }}" class="btn btn-link"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                {% else %}
                                    <a href="{{ route('admin_label_show', {'id': item.id}) }}" class="btn btn-link"><span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span></a>
                                {% endif %}
                                <a href="{{ route('admin_label_edit', {'id': item.id}) }}" class="btn btn-link"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {{ list.render() | raw }}
            {% else %}
                <div class="alert alert-info" role="alert">Нет созданных товаров</div>
            {% endif %}
        </div>
    </div>
{% endblock %}
