{% extends "admin.layouts.app" %}

{% block title %}Строки{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-6 col-md-10">
            <h1>Меню сайта</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-7 col-md-12">
            <form method="post" action="{{ route('admin_titles_update') }}">
                {{ csrf_field() }}
                <div class="form-group">
                    <label>Адрес для логотипа</label>
                    <input type="text" name="logo_url" value="{{ list.logo_url }}" class="form-control">
                </div>

                <div class="form-group">
                    <label>Meta title</label>
                    <input type="text" name="title_mime" value="{{ list.title_mime }}" class="form-control" required>
                </div>

                <div class="form-group">
                    <label>Заголовок списка товаров (каталога)</label>
                    <input type="text" name="title_product" value="{{ list.title_product }}" class="form-control">
                </div>

                <div class="form-group">
                    <label>Заголовок отзывов</label>
                    <input type="text" name="title_reviews" value="{{ list.title_reviews }}" class="form-control">
                </div>

                <h3>Нижняя кнопка</h3>

                <div class="form-group">
                    <label>Текст перед кнопкой</label>
                    <textarea class="form-control" rows="7" name="header_down_button">{{ list.header_down_button | raw }}</textarea>
                </div>

                <div class="form-group">
                    <label>Надпись на нижней кнопке</label>
                    <input type="text" name="title_down_button" value="{{ list.title_down_button }}" class="form-control" required>
                </div>

                <div class="form-group" style="border-bottom: 1px solid #ccc; padding-bottom: 12px">
                    <label>Адрес для нижней кнопки</label>
                    <input type="text" name="url_down_button" value="{{ list.url_down_button }}" class="form-control">
                </div>


                <div class="form-group">
                    <label>Яндекс Метрика</label>
                    <textarea class="form-control" rows="7" name="metrika">{{ list.metrika | raw }}</textarea>
                </div>

                <div class="form-group">
                    <label>Подвал сайта</label>
                    <textarea class="form-control" rows="7" name="title_footer">{{ list.title_footer | raw }}</textarea>
                </div>

                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
        </div>
    </div>
{% endblock %}
