{% extends "admin.layouts.app" %}

{% block title %}Список товаров{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-6 col-md-10">
            <h1>Список товаров</h1>
        </div>

        <div class="col-lg-1 col-md-2">
            <p style="padding-top: 24px">
                <a href="{{ route('admin_products_add') }}" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>  Добавить</a>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-7 col-md-12">
            {% if  (list | length) > 0 %}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Фото</th>
                        {% for item in label %}
                            <th>{{ item.label }}</th>
                        {% endfor %}
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in list %}
                        <tr>
                            <td>{{ item.id }}</td>
                            <td>
                                {% if item.photo is not empty %}
                                    <img src="{{ item.path() }}" alt="" width="50">
                                {% else %}
                                    <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                                {% endif %}
                            </td>
                            {% for value in label %}
                                {% if value.visible < 1 %}
                                    <td class="danger">{{ item[value.name] }}</td>
                                {% else %}
                                    <td>{{ item[value.name] }}</td>
                                {% endif %}
                            {% endfor %}
                            <td class="text-right text-nowrap">
                                {% if item.visible > 0 %}
                                    <a href="{{ route('admin_products_hide', {'id': item.id}) }}" class="btn btn-link"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                {% else %}
                                    <a href="{{ route('admin_products_show', {'id': item.id}) }}" class="btn btn-link"><span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span></a>
                                {% endif %}
                                <a href="{{ route('admin_products_edit', {'id': item.id}) }}" class="btn btn-link"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {{ list.render() | raw }}
            {% else %}
                <div class="alert alert-info" role="alert">Нет созданных товаров</div>
            {% endif %}
        </div>
    </div>
{% endblock %}
