

<div class="row for-edit" style="padding-top: 24px;">
    {% for item in list %}
    <div class="col-sm-12 col-md-4 text-center" style="padding: 0 50px">
            <img src="{{ item.cover }}" alt="..." width="115">
            <div class="caption">
                <h3 style="color: #445B9F; font-weight: 500;">{{ item.title }}</h3>
                <p style="font-weight: 300;font-size: 14px; line-height: 15px;">{{ item.description }}</p>
            </div>
    </div>
    {% endfor %}
</div>
