<style>
    .header_bg {
        width: 100%;
        min-height: 608px;
    }

    .headline {
        width: 100%;
        height: 100%;
        color: #fff;
        text-align: center;
    }
</style>

<div class="header_bg" style="width: 100%; overflow-x: hidden; background: url('{{ data.bg }}') center no-repeat #ccc">
    <div class="headline">
        <div class="visible-md-block visible-lg-block" style="height: 96px;"></div>

        <div class="container">
            <h1>{{ data.title | replace({'city_name': city}) | nl2br }}</h1>
            <h2>{{ data.sub_title | replace({'city_name': city}) | nl2br}}</h2>
            <hr>

            <p style="font-size: 150%;">{{ data.description | nl2br }}</p></div>
        <p style="margin-top: 24px;">
            {% if data.button_url is not empty %}
                <a href="{{ data.button_url }}" target="_blank" class="btn btn-primary btn-lg">{{ data.button | replace({'city_name': city}) }}</a>
            {% else %}
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#get_phone">{{ data.button | replace({'city_name': city}) }}</button>
            {% endif %}
        </p>


        <div class="row visible-md-block visible-lg-block" style="padding-top: 48px; padding-bottom: 24px;">
            <div class="col-md-offset-3 col-md-2 col-xs-12">
                <p class="text-center">
                    <img src="{{ data.pic_1 }}" alt="" style="display: block; float: left; max-width: 100px;"> {{ data.add_1 | nl2br }}
                </p>
            </div>

            <div class="col-md-2 col-xs-12">
                <p class="text-center">
                    <img src="{{ data.pic_2 }}" alt="" style="display: block; float: left; max-width: 100px;"> {{ data.add_2 | nl2br }}
                </p>
            </div>

            <div class="col-md-2 col-xs-12">
                <p class="text-center">
                    <img src="{{ data.pic_3 }}" alt="" style="display: block; float: left; max-width: 100px;"> {{ data.add_3 | nl2br }}
                </p>
            </div>
        </div>
    </div>
</div>
