<!-- Fixed navbar -->
<nav class="navbar navbar-default" style="border: 0">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            {% if logo.title is not empty %}
                <a class="navbar-brand" href="{{ logo_url }}"><img src="{{ logo.path() }}" alt="" style="max-height: 50px"></a>
            {% endif %}
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% for item in list %}
                    <li>
                        <a href="{{ item.url }}">{{ item.title }}</a>
                    </li>
                {% endfor %}
            </ul>

            <div class="text-center navbar-form navbar-right">{{ phone.title | nl2br }}</div>
        </div><!--/.nav-collapse -->
    </div>
</nav>
